<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Users<div class="pull-right"> <%= link_to 'Create User',  new_administration_path %></h3>
  </div>
  </div>
  <table class="table" border="1">
   <tr>
   	 <th> First Name </th>
   	 <th> Last Name </th>
   	 <th> Email </th>
   </tr>
   <% @users.each do |user| %>
     <tr>
     	<td><%=user.first_name%> </td>
     	<td><%=user.last_name%> </td>
     	<td><%=user.email%> </td>
     </tr>	
    <% end %>
  </table>
</div>

<div class="pull-right">
  <h3><%= link_to 'Invite People',  new_administration_path %></h3>
</div>
