<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 hidden-xs hidden-sm"> 
    <h1 class="txt-color-red login-header-big">New User</h1> 
      <div class="hero"> 
 
      <div class="pull-left login-desc-box-l"> 
            <h4 class="paragraph-header">It's Okay to be Smart. Experience the simplicity of SmartAdmin, everywhere you go!</h4> 
        <div class="login-app-icons"> 
          <a class="btn btn-danger btn-sm" href="javascript:void(0);">Frontend Template</a> 
          <a class="btn btn-danger btn-sm" href="javascript:void(0);">Find out more</a> 
        </div> 
      </div> 
      <div class="pull-right display-image"> 
     <%= image_tag('smartadmin/iphoneview.png', :width =>'210' ) %> 
      </div> 
 
      </div> 

      <div class="row"> 
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"> 
          <h5 class="about-heading">About SmartAdmin - Are you up to date?</h5> 
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa. </p> 
      </div> 
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"> 
        <h5 class="about-heading">Not just your average template!</h5> 
          <p> Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi voluptatem accusantium! </p> 
      </div> 
    </div> 
</div> 
 

<%= form_for(@user) do |f| %> 
    <% if @user.errors.any? %> 
      <div id="error_explanation"> 
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from Signing Up:</h2> 
          <ul> 
          <% @user.errors.full_messages.each do |msg| %> 
          <li><%= msg %></li> 
          <% end %> 
          </ul> 
      </div> 
      <% end %> 

       
<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5"> 
  <div class="well no-padding"> 
 
<p>
  <h3> 
Registration is FREE* 
  </h3>
</p>
 
<p> 
  <label for="username">Username</label><br/> 
  <%= f.text_field :username %> 
</p> 

<p> 
  <label for="email">E-mail address</label><br/> 
  <%= f.email_field :email %> 
</p> 
 
<p> 
  <label for="password" id="password_label">Password</label><br/> 
  <%= f.password_field :password %>
</p> 
 
<p id="confirmation"> 
  <label for="confirmpassword">Confirm Password</label><br/> 
  <%= f.password_field :confirmpassword %> 
</p> 
 
<p> 
  <label for="firstname">First Name</label><br/> 
  <%= f.text_field :firstname %> 
</p> 

<p> 
  <label for="lastname">Last Name</label><br/> 
  <%= f.text_field :lastname %> 
</p> 
 
<section> 
  <label class="select"> 
    <select name="gender"> 
    <option disabled="" selected="" value="0">Gender</option> 
    <option value="1">Male</option> 
    <option value="2">Female</option> 
    <option value="3">Prefer not to answer</option> 
    </select> <i></i> 
  </label> 
</section> 

<section> 
  <label for="request">Request for activation</label><br/>    
  <%= f.date_field :request %>    
</section> 
 
<section> 
  <label class="checkbox"> 
    <input type="checkbox" id="subscription" name="subscription"> 
  <i></i>I want to receive news and special offers</label> 
  <label class="checkbox"> 
    <input type="checkbox" id="terms" name="terms"> 
    <i></i>I agree with the <a data-target="#myModal" data-toggle="modal" href="#"> Terms and Conditions </a>
  </label> 
</section> 

<footer> 
  <button class="btn btn-primary" type="submit"> Register </button> 
</footer> 
<% end %> 