<!DOCTYPE html>
<html lang="en-us">
<head>
  <title>EnterpriseCollab</title>
  <meta content="" name="description">
  <meta content="" name="author">
  <meta content="True" name="HandheldFriendly">
  <meta content="320" name="MobileOptimized">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700" rel="stylesheet"/>
  
  <style type="text/css">
  .jqstooltip { position: absolute;left: 0px;top: 0px;visibility: hidden;background: rgb(0, 0, 0) transparent;background-color: rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";color: white;font: 10px arial, san serif;text-align: left;white-space: nowrap;padding: 5px;border: 1px solid white;z-index: 10000;}.jqsfield { color: white;font: 10px arial, san serif;text-align: left;}
  </style>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "#{controller_name}.erb.js", "data-turbolinks-track" => true %>

</head>
<body class="smart-style-2 animated fadeInDown">
  <!-- Loading Indicator -->
  <div class="pace pace-inactive">
    <div class="pace-progress" style="width: 100%;" data-progress-text="100%" data-progress="99">
      <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div>
  </div>  
  <!-- ENDs Loading Indicator -->

  <!-- HEADER -->
  <header id="header">
   <%= render "common/admin/header" %>
  </header> 
  <!-- ENDs HEADER -->

  <!-- Left Panel -->
  <%= render "common/admin/main_nav" %>
  <!-- ENDs Left Panel -->
  
  <div id="main" role="main"> <!-- MAIN -->
    <%= render "common/admin/breadcrumb" %>

    <div id="content"> <!-- CONTENT -->
      <div class="row">
        
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
          <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> <%= page_title(params[:controller], params[:action]) %></h1>
        </div>

        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
          <%= content_for :quick_snap %>
        </div>

      </div>

      <section id="widget-grid">
        <%= yield %>
      </section>

    </div> <!-- ENDs CONTENT -->

  </div><!-- ENDs MAIN -->

  <%= render "common/admin/shortcut_nav" %>
  
  <%= javascript_include_tag "smartadmin", "data-turbolinks-track" => true %>

</body>
</html>
