<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @account.company %>
</p>

<p>
  <strong>Subdomain:</strong>
  <%= @account.subdomain %>
</p>

<p>
  <strong>Address:</strong>
  <%= @account.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @account.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @account.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @account.zipcode %>
</p>

<p>
  <strong>Country:</strong>
  <%= @account.country %>
</p>

<p>
  <strong>Office:</strong>
  <%= @account.office %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @account.mobile %>
</p>

<p>
  <strong>Status:</strong>
  <%= @account.status %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
