<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @account.company %>
</p>

<p>
  <strong>Subdomain:</strong>
  <%= @account.subdomain %>
</p>

<p>
  <strong>Address:</strong>
  <%= @account.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @account.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @account.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @account.zipcode %>
</p>

<p>
  <strong>Country:</strong>
  <%= @account.country %>
</p>

<p>
  <strong>Office:</strong>
  <%= @account.office %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @account.mobile %>
</p>

<p>
  <strong>Status:</strong>
  <%= @account.status %>
  
<br/>
<p> <%= link_to 'Update Account', edit_account_path(@account) %> </p>
        
<br/>
    <p><%= link_to 'Create New Account', new_account_path %></p>

<br/>
  <p><%= link_to 'Display Dashboard', dashboard_path %> </p>
   